<h1><%= @restaurant.name %></h1>
  <h4><%= @restaurant.category.capitalize %></h4>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>

  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>

  <%= link_to "Return to list", restaurants_path, class: "btn btn-primary"%>

<h2>Reviews</h2>
<% @restaurant.reviews.each do |review| %>
  <li><%= review.content %> - <%= review.rating %></li>
<% end %>
