<h1>Review for <%=@restaurant.name%></h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, collection: 0..5, label: 'Rating', error: 'Rating required' %>
  <%= f.input :content, label: 'Why have you chosen this rating?', error: 'Review required' %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
